body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #140e4b;
    color: white;
    text-align: center;
    padding: 1em;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f1f1f1;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.site-container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    /* This will make sure that the container takes up the entire screen height */
}

.transparent-box {
    /*rgba(17, 17, 119, 0.8);*/
    background-color: rgba(20, 14, 75, 0.9);
    /* This will make the box semi-transparent */
    position: relative;
    margin: auto;
    top: 10%;
    width: 80%;
    padding: 1em;
    /* Add some padding around the content */
    border-radius: 10px;
    /* This will make the edges round with a radius of 10 pixels */
    color: #ffffff;
}
/*
.services{
    text-align: center;
    padding-bottom: 1%;
}
*/
.services {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}

#servicesHeader{
    text-align: center;
    padding-bottom: 1%;
}

#contactHeader{
    text-align: center;
    padding-bottom: 1%;
}
#boxHeaderServices{
    text-align: center;
    padding-bottom: 1%;
}
#boxHeaderContact{
    text-align: center;
    padding-bottom: 1%;
}
.contact{
    text-align: center;
    font-size: 18px;
}
#email{
    margin-top: 3em;
    text-align: center;
    font-size: 18px;
}

#phone{
    text-align: center;
    font-size: 18px;
    padding-bottom: 3%;
}
button {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#buttons{
    padding-left: 2%;
    padding-top: 1%;
}
main {
    padding: 1em;
}

main h2 {
    margin-top: 2em;
}

main h3 {
    margin-top: 1em;
}

main a {
    color: #4CAF50;
}

main a:hover {
    color: #3e8e41;
}

footer {
    background-color: #3a3567;
    text-align: center;
    padding: 1em;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.5em;
}

.separator {
    border: 2px solid #ccc; /* Border style and color */
    margin: 20px 0; /* Adjust margin as needed */
}
