body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #140e4b;
    color: white;
    text-align: center;
    padding: 1em;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f1f1f1;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.site-container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    /* This will make sure that the container takes up the entire screen height */
}

.transparent-box {
    background-color: rgba(46, 46, 103, 0.5);
    /* This will make the box semi-transparent */
    position: relative;
    margin: auto;
    top: 10%;
    width: 80%;
    padding: 1em;
    /* Add some padding around the content */
    border-radius: 10px;
    /* This will make the edges round with a radius of 10 pixels */
    color: #ffffff;
}

#about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.5em;
}

button {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right; /* Float the buttons to the right */
}

main {
    padding: 1em;
}

main h2 {
    margin-top: 2em;
}

main h3 {
    margin-top: 1em;
}

main a {
    color: #4CAF50;
}

main a:hover {
    color: #3e8e41;
}

footer {
    background-color: #3a3567;
    text-align: center;
    padding: 1em;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.5em;
}